/* PopupMenu */
.asusctl-gex-panel-icon{
    width: 30px;
    height: 30px;
    padding: 0 5px;
}

.headline {
    margin-bottom: 10px;
}
.headline-label {
    font-weight: bold;
    text-align: center;
}

.gfx-mode,
.fan-mode,
.gpupower {
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-right: 25px;
}
.gfx-mode{
    background-size: 33px;
    background-position: 20px 0px;
}
.gfx-mode.hybrid{
    background-image: url("icons/scalable/gpu-hybrid.svg");
}
.gfx-mode.compute{
    background-image: url("icons/scalable/gpu-compute.svg");
}
.gfx-mode.vfio{
    background-image: url("icons/scalable/gpu-vfio.svg");
}
.gfx-mode.integrated{
    background-image: url("icons/scalable/gpu-integrated.svg");
}
.gfx-mode.nvidia{
    background-image: url("icons/scalable/gpu-nvidia.svg");
}

.fan-mode{
    background-size: 24px;
    background-position: 24px 5px;
}
.fan-mode.silent {
    background-image: url("icons/scalable/profile-silent.svg");
}
.fan-mode.normal {
    background-image: url("icons/scalable/profile-normal.svg");
}
.fan-mode.boost {
    background-image: url("icons/scalable/profile-boost.svg");
}

.gpupower{
    background-position: 23px 0px;
}
.gpupower.active{
    background-image: url("icons/scalable/dgpu-on.svg");
}
.gpupower.off,
.gpupower.suspended,
.gpupower.unknown{
    background-image: url("icons/scalable/dgpu-off.svg");
}